*{
    margin:0;
    padding:0;
    box_sizing:border-box;


}
body{
     font-family: "Poppins", sans-serif;
}
main{
    background-image: url("images/hero-bg.png");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    justify-content:space-between;
}
.nav-links{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}
.link{
    list-style-type: none;
}
.link a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}

.btn-link{
    border: 2px  solid green;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    transition: background-color is ease;
}
.btn-link:hover{
    background-color: green;
}